best_models/zorznet_2/estimator/model.ckpt-62050.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
best_models/las_2/estimator/model.ckpt-42700.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
