best_models/zorznet/estimator/model.ckpt-90550.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
best_models/lasnet/estimator/model.ckpt-112600.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
